/*Top navbar*/

.navbartop {
	background-color: #FFF;
	opacity: 0.6;	
	margin: 0 auto;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 30px;
}

/*LEFT- play/pause/volume & save*/
#masterplaypause {
	float: left;
}

#mastervolume {
	margin-top: 8px;
	margin-left: 50px;
	margin-right: -50px;
}

#savebutton {
	float: left;
}

/*CENTER- title img*/
.titleimg {
	vertical-align: middle;
	height: 120px;	
}

/*RIGHT- loginout & saved*/
#savedlogin {
	float: right;
	padding: 35px;
}

#loginout {
	margin-top: 10px;
}

/*Bottom navbar*/

.navbarbottom {
	background-color: #000;
	opacity: 0.5;	
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}