/*Top navbar*/
/*

.navbartop {
	background-color: #FFF;
	opacity: 0.6;	
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
*/

/*
#savebutton {
	float: left;
}
*/

/*RIGHT- loginout & saved*/
/*
#savedlogin {
	float: right;
	margin: 32px;	
}

#loginout {
	margin-top: 10px;
}
*/

/*Bottom navbar*/

/*
.navbarbottom {
	background-color: #000;
	opacity: 0.5;	
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 450px;
}

.bottomnavicon {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
*/

/* Pop-up Stylings */

/*
.popup {
	background-color: lightgrey;
	padding: 30px;
}
*/

