/* container for all content of page */
.container {
	margin: 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
	
/*
	border-style: dotted;
	border-width: 1px;
	border-color: black;
*/
	
}

 /* Grid system for sounds - Medium and small screens (640px) */

 @media (min-width: 40rem) {
	 html { font-size: 112%; }
	 
	 .column {
		 float: left;
		 padding-left: 1rem;
		 padding-right: 1rem;
		 padding-top: 1rem;
	 }
	 
	 .column.full { width: 100%; }
	 .column.two-thirds { width: 66.7%; }
	 .column.half { width: 50%; }
	 .column.third { width: 33.3%; }
	 .column.fourth { width: 25%; }
	 .column.fifth { width: 20%; }	 
 }

  Large screens (1024px) 
 @media (min-width: 64rem) {
	 html { font-size: 120%; }
 }

#titlediv {
	display: inline-block;
	margin-top: 10%;
}

#subtext {
	padding: 20px;
}

img {
	float: left;
	height: 75px;
	padding-right: 5px;
	vertical-align: middle;
}

h1 {
	float: right;
	vertical-align: middle;
}

#appicon {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 5px;
	background: magenta;
}

.soundcircles {
	width: 70%;
	margin: 0 auto;
}

/* creates the circles */
.soundcircle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}

.play {
	width: 0; 
	height: 0; 
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 40px solid red;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 30px;
	
/*
	border-style: dotted;
	border-width: 1px;
	border-color: green;
*/

}

.pause {
	width: 0; 
	height: 0; 
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 40px solid blue;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 30px;
	
/*
	border-style: dotted;
	border-width: 1px;
	border-color: red;
*/
	
}

/*Background colors for individual sounds*/
#whitenoise {
	background: #CCCCCC;
}
#cracklingfire {
	background: red;
}
#rain {
	background: blue;
}
#oceanwaves {
	background: green;
}
#singingbowl {
	background: #333333;
}
#thunderstorm {
	background: purple;
}
#enginehum {
	background: brown;
}
#om {
	background: #f0dba5;
}

/* aligns master play pause button */
#masterplaypause {
	display: block;
	margin: 0 auto;
	clear: both;
	text-align: center;
	width: 100px;
	height: 100px;
	padding-top: 10px;
	
/*
	border-style: dotted;
	border-width: 1px;
	border-color: violet;	
*/
}

/* Volume controls */
#mastervolume {
	display: block;
	margin: 0 auto;
	clear: both;
	text-align: center;
	width: 15%;
	margin-top: 5px;
	
/*
	border-style: solid;
	border-width: 1px;
	border-color: violet;
*/
}

#individualvolume {
	display: block;
	margin: 0 auto;
	clear: both;
	text-align: center;
	
/*
	border-style: solid;
	border-width: 1px;
	border-color: violet;	
*/
}

.seek-bar {
	height: 0.25rem;
	border-radius: 1px;
	position: relative;
	cursor: pointer;
	background-color: grey;
	
 }
 
 .seek-bar .fill {
	 background: black;
	 width: 100%;
	 height: 0.25rem;
	 border-radius: 1px;
	 
 }
 
 .seek-bar .thumb {
	 position: absolute;
	 height: 0.5rem;
	 width: 0.5rem;
	 background: black;
	 left: 50%;
	 top: 50%;
	 /* #1 */
	 margin-left: -0.25rem;
	 margin-top: -0.25rem;
	 border-radius: 50%;
	 cursor: pointer;
	 transition: width 100ms ease-in-out,
		 height 100ms ease-in-out,
		 margin-top 100ms ease-in-out,
		 margin-left 100ms ease-in-out;
 }
 
 .seek-bar:hover .thumb {
	 width: 1.1rem;
	 height: 1.1rem;
	 margin-top: -0.5rem;
	 margin-left: -0.5rem;
 }