#background {
	background-image: url("/assets/images/Background/blur_bg_1.jpg");
}

.container {
	padding-top: 50px;
	margin: 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
	
/*
	border-style: dotted;
	border-width: 1px;
	border-color: black;
*/
}

.navbar {
	background-color: #FFF;
	opacity: 0.5;	
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	border-radius: 20px;
}

.titleimg {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	vertical-align: middle;
}

 /* Grid system for sounds */

 @media (min-width: 40rem) {
	 html { font-size: 112%; }
	 
	 .column {
		 float: left;
		 padding-left: 1rem;
		 padding-right: 1rem;
		 padding-top: 1rem;
	 }
	 
	 .column.full { width: 100%; }
	 .column.two-thirds { width: 66.7%; }
	 .column.half { width: 50%; }
	 .column.third { width: 33.3%; }
	 .column.fourth { width: 25%; }
	 .column.fifth { width: 20%; }	 
 }

  Large screens (1024px) 
 @media (min-width: 64rem) {
	 html { font-size: 120%; }
 }

/* Holds individual sound img, play/pause & volume */

#soundandvolume {
	height: 140px;
}

/* Individual sound circles */

.soundcircle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

/* Play & pause buttons */

.play {
	height: 100px;
	width: 100px;
	background-image: url("/assets/images/Play-Icon.png");
	margin: 0 auto;	
}

.pause {
	height: 100px;
	width: 100px;
	background-image: url("/assets/images/Pause-Icon.png");
	margin: 0 auto;	
	
}

/* Individual sound background images */

#whitenoise {
	background-image: url("/assets/images/White-Noise-Icon.png");
}

#cracklingfire {
	background-image: url("/assets/images/Crackling-Fire-Icon.png");
}

#rain {
	background-image: url("/assets/images/Rain-Icon.png");
}

#oceanwaves {
	background-image: url("/assets/images/Ocean-Waves-Icon.png");
}

#singingbowl {
	background-image: url("/assets/images/Singing-Bowl-Icon.png");
}

#thunderstorm {
	background-image: url("/assets/images/Thunderstorm-Icon.png");	
}

#enginehum {
	background-image: url("/assets/images/Fan-Icon.png");	
}

#om {
	background-image: url("/assets/images/Om-Icon.png");	
}

/* Master div - holds master play/pause & volume */

#masterdiv {
	margin: 0 auto;
	clear: both;
	display: block;
/*	background: #EEE;*/
	border-radius: 25px;
	width: 25%;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Volume */

#volume {
	display: block;
	margin: 0 auto;
	clear: both;
	text-align: center;
	width:  100px;
	margin-top: 15px;
	margin-bottom: 15px;	
}

/* Seek Bar */

.seek-bar {
	height: 0.20rem;
	position: relative;
	cursor: pointer;
	background-color: #434343;
 }
 
 .seek-bar .fill {
	 background: #333;
	 width: 100%;
	 height: 0.25rem;
	 
 }
 
 .seek-bar .thumb {
	 background-color: #434343;	 
	 position: absolute;
	 height: 0.5rem;
	 width: 0.5rem;
	 background: black;
	 left: 50%;
	 top: 50%;
	 /* #1 */
	 margin-left: -0.25rem;
	 margin-top: -0.25rem;
	 border-radius: 50%;
	 cursor: pointer;
	 transition: width 100ms ease-in-out,
		 height 100ms ease-in-out,
		 margin-top 100ms ease-in-out,
		 margin-left 100ms ease-in-out;
 }
 
 .seek-bar:hover .thumb {
	 background-color: #434343;	 
	 width: 1.1rem;
	 height: 1.1rem;
	 margin-top: -0.5rem;
	 margin-left: -0.5rem;
 }