<div class="container">
	
	<section id="titlediv">
		<img src="http://cdn.mysitemyway.com/icons-watermarks/simple-black/ocha-inv/ocha-inv_telecommunications-radio-inv/ocha-inv_telecommunications-radio-inv_simple-black_128x128.png">
		<h1>{{ title }}</h1>
	</section>

	<p id="subtext">Create your own ambient sound.</p>
	
	<div class="soundcircles" ng-repeat="sound in sounds" ng-click="playPauseSound(sound)" ng-mouseover="hoveringOverSound = true" ng-mouseleave="hoveringOverSound = false">

			<section class="column fourth">
				<div ng-show="!hoveringOverSound" class="soundcircle" id="{{sound.name}}" class=".col-md-1"></div>
				<div ng-show="hoveringOverSound">
					<div ng-class="{'pause': SoundService.isPlayingSound(sound), 'play': !SoundService.isPlayingSound(sound)}">
					</div>
				</div>
		</section>
	</div>
	
	<div id="masterplaypause" ng-click="toggleAll()">
		<div ng-class="{'pause': SoundService.isAnyPlaying(), 'play': !SoundService.isAnyPlaying()}"></div>
	</div>
	
</div>